.settingsSection {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  &[data-isopened="true"] {
    display: flex;
    z-index: 102;
  }

  .settingsContainer {
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    max-width: 90%;
    border: solid 1px black;
    
    .settingsHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;      
      padding: 10px;
      border-bottom: solid black 1px;

      .settingsLabel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }

      button {        
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;        
        padding: 5px;
        border: none;
        outline: none;
      }
    }    

    .settings {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: auto;
      padding: 20px;
      width: 500px;
      max-height: 300px;
      max-width: 100%;
      min-height: 250px;
      overflow: auto;

      .setting {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .label {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-right: 50px;
        }

        svg {
          margin-right: 10px;
          width: 20px;
          height: auto;
          height: 100%;
          min-width: 15px;
          min-height: 15px;
        }

        .action {
          svg {
            cursor: pointer;
            width: 25px;
          }
        }
      }
    }
  }
}
