// :root {
// --primary-color: #161414;
// --secondary-color: #1f1c1c;
// --third-color: #e9e8ea;
// --color: white;
// }
:root {
--primary-color: #2A3151;
--secondary-color: #06060B;
--third-color: #06060B;
--color: white;
}
:root {
--primary-color: #06060B;
--secondary-color: #282f4d;
--third-color: #1d2238;
--color: white;
}