.announcement {
    height: auto;
  width: 100%;
  display: flex;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
   
  .announcement small::first-letter {
    text-transform: uppercase;     
  }

  .announcement small {
    background-color: red;
   }
}