.message {
  height: auto;
  width: 100%;
  display: flex;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: black !important;
}

.iconContainer {
  width: 55px;
  height: 55px;

  .userIcon {
    width: 100%;
    height: 100%;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.5) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.textContainer {
  width: 80%;
}

.nameAndDate {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 5px;
  padding-left: 10px;

  .name h5 {
    text-transform: capitalize;
  }
  .date {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.messageText {
  max-width: 100%;
  width: max-content;
  flex-wrap: wrap;
  padding: 5px;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.5) 0px 0px 0px 1px;
  border-radius: 5px;

  p {
    text-align: start;
    font-size: small;
  }
}
