$border-style: solid 1px;
.sidePanel {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: 0.5s; 
  box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px -0px, rgb(0, 0, 0) 1px 1px 1px -1px;
}

.sidePanel[data-isOpened="true"] {
  width: 350px;
}
.sidePanel[data-isOpened="false"] {
  width: 0px;
}
.sidePanelContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
  margin: auto;
  text-align: center;
}
@media (max-width: 1000px) {
  .sidePanel {
    position: absolute;
    top: 0;
    left: 0;
  }
  .sidePanel[data-isopened="true"] {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;

    .sidePanelContainer {
      position: relative;
      width: 100%;
    }
  }
}

.sidePanelContent {
  height: 85%;
}
.sidePanelInput {
  height: 15%;  
  box-shadow:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgb(0, 0, 0) 1px -1px 1px -1px;
}
