@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import "@cssVariables/theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root,
[data-layout] {
  min-height: 100vh;
  height: 100vh;
  overflow: auto;  
}

button {
  color: inherit;
  background-color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: black;
  transition: all ease-in-out 200ms;
}

/* EMOJI PICKER CUSTOM STYLES */
.emoji-picker-react input.emoji-search {
  margin-left: 0;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.emoji-picker-react .emoji button {
  outline: none;
  border: none;
}
.emoji-picker-react ul.skin-tones-list label {
  display: none;
}
.emoji-picker-react .emoji-group:before {
  width: 100%;
  text-align: start;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Button */

button:disabled {
  cursor: not-allowed !important;  
  opacity: 0.65; 
}
